
<div class="container">
  <div>
    <h1>Stupid Coaching</h1>
  </div>

  <div class="card">
    <form action="/answer" method="get">
      <input type="text" name="input">
      <input class="btn" type="submit" value="Ask!">
    </form>
  </div>
</div>



