// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  width: 700px;
  text-align: center;
  margin: auto;
}

.btn {
  width: 150px;
  height: 30px;
  background: yellow;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 20px;
}

input {
  height : 25px;
  border-radius: 5px;
  width: 150px;
}

.card {
  align-items: center;
}
